/* Import font "Lato" from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap');

/* Rule for everything in the page */
* {
    font-family: "Lato", sans-serif;
}

/* <header> */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* <div> */
.header__logo {
    display: flex;
}

/* <a> */
.header__link{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;

}

/* <img> */
.header__image {

}

/* <h1> */
.header__title {
    padding: 10px;

}

/* <nav> */
.header__menu {
    display: flex;
    align-items: center;
}

/* <ul> */
.header__items {
    list-style: none;
}

/* <li> */
.header__item {
    display: inline-block;
    padding: 10px;

}

.header__item:hover {
    color: red;
    

}
/* </header> */

/* <section classs="section__top"> */
/* <div class="section__image-div"> */
.section__image-div {
    display: flex;
    justify-content: center;
    background: url(../images/beefstew.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
    width: auto;
    animation: zoomImage 2.6s ease-in-out forwards;
    border-radius: 20px;
    
}

@keyframes zoomImage {
    0% {
      background-size: 120%;
    }
    100% {
      background-size: 100%;
    }
  }

/* <div class="section__text-div"> */
.section__text-div {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    text-align: center;
    height: auto;
    width: auto;  
    align-self: flex-end;
}


/* Media queries */
/* Rule for screens max 1200px: */
@media screen and (max-width: 1200px) {


}
/* Rule for screens max 950px: */
@media screen and (max-width: 950px) {

}
/* Rule for screens max 800px: */
@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
    }
    .section__text-div{
        align-self:center;
    }
}