/* Import font "Lato" from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap");

/* Global styles */
* {
  font-family: "Lato", sans-serif;
}
/* HTML styles */
html {
  height: 100%;
}
/* Body styles */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #faecd6;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0b669;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 10px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Header logo */
.header__logo {
  display: flex;
}
/* Home link */
.header__home {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  transition: text-shadow 0.6s; /* Apply transition effect for text shadow */
}
/* Home link hover effect */
.header__home:hover {
  text-shadow: 1px 1px black; /* Add text shadow on hover */
}
/* Header link */
.header__link {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 10px;
  transition: box-shadow 0.6s; /* Apply transition effect for box shadow */
}
/* Header link hover effect */
.header__link:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
/* Header image */
.header__image {
  width: 100px;
  height: 100px;
  padding: 0px 10px;
}
/* Header title */
.header__title {
  padding: 10px;
}
/* Header menu */
.header__menu {
  display: flex;
  align-items: center;
}
/* Header menu items */
.header__items {
  list-style: none;
}
/* Header menu item */
.header__item {
  display: inline-block;
}
/* Last menu item */
.header__item--last {
  margin-right: 20px;
}
/* Selected menu item */
.header__item--selected {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
/* End of Header section */

/* Introduction section */
.introduction__image {
  position: relative;
  margin: 0px 20px;
  height: 200px;
  width: auto;
  justify-content: center;
  align-items: flex-end;
}
/* Introduction photo */
.introduction__photo {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/* Introduction subtitle */
.introduction__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
/* Introduction text */
.introduction__text {
  margin-left: 20px;
  margin-right: 20px;
}
/* End of Introduction section */

/* About section */
.about {
  margin: 0px 20px;
}
/* About title */
.about__title {
  display: flex;
  justify-content: center;
}
/* About article */
.about__article {
  text-align: center;
}
/* End of About section */

/* Top Foods section */
.top-foods {
  margin: 50px 20px 20px 20px;
  background-color: #f2deba;
  border-radius: 20px;
  padding: 10px;
}
/* Top Foods title */
.top-foods__title {
  display: flex;
  justify-content: center;
}
/* Top Foods items */
.top-foods__items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-gap: 50px;
  align-items: center;
  padding: 0px;
}
/* Top Foods item */
.top-foods__item {
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  transition: box-shadow 0.3s; /* Apply transition effect for box shadow */
  height: 200px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 24px;
}
/* Top Foods item hover effect */
.top-foods__item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  transform: scale(1.03); /* Zoom in by 20% on hover */
}
/* Top Foods subtitle */
.top-foods__subtitle {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
/* Top Foods figure */
.top-foods__figure {
  position: relative;
  margin: auto;
}
/* Top Foods photo */
.top-foods__photo {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  transition: transform 0.3s; /* Smooth transition effect */
  transform-origin: center center; /* Set the transform origin to the center */
}
/* End of Top Foods section */

/* Footer section */
.footer {
  background-color: #f0b669;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: auto;
}
/* Footer social medias */
.footer__social-medias {
  display: flex;
  justify-self: center;
  justify-content: center;
  list-style: none;
}
/* Footer social media */
.footer__social-media {
  transition: text-shadow 0.3s; /* Apply transition effect for text shadow */
  font-size: 160%;
}
/* Footer social media hover effect */
.footer__social-media:hover {
  text-shadow: 1px 1px black;
}
/* Footer link */
.footer__link {
  justify-self: end;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
/* End of Footer section */

/* Recipes section */
.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Recipes introduction */
.recipes__introduction {
  margin: 50px 20px 20px 20px;
  background-color: #f2deba;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
/* Recipe container */
.recipes__recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  background-color: #f2deba;
  border-radius: 20px;
  margin: 20px 0;
}
/* Recipe title */
.recipes__title2 {
  text-align: center;
}
/* Recipe container for photo, ingredients, instructions and video */
.recipes__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* Recipe photo */
.recipes__photo {
  object-fit: cover;
  width: 47%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 1%;
  border-radius: 20px;
}
/* Recipe ingredients */
.recipes__ingredients {
  width: 47%;
  margin: 0 1%;
  background-color: #f0b669;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Recipe instructions */
.recipes__instructions {
  width: 100%;
  background-color: #f0b669;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Recipe video */
.recipes__video {
  width: 100%;
  height: 600px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End of Recipes section */

.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact__container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f2deba;
  border-radius: 20px;
  padding: 10px;
  width: 1100px;
}
.contact__submit {
  padding: 10px;
  border-radius: 5px;
  margin: 0px 10px;
  transition: box-shadow 0.6s;
  background-color: #f0b669;
  margin-bottom: 10px;
  color: black;
}
.contact__submit:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

/* </section> top-foods */

@keyframes zoomImage {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

/* Media queries */
/* Rule for screens max 1200px: */
@media screen and (max-width: 1200px) {
  .recipes__photo {
    margin: 20px 20px;
    width: 80%;
  }
  .recipes__ingredients {
    padding: 10px;
    width: 80%;
  }

  .recipes__recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .recipes__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipes__instructions {
    width: 80%;
    padding: 10px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
  }
  .recipes__video {
    width: 600px;
    height: 400px;
    margin: 0px;
    border-radius: 20px;
  }
}
/* Rule for screens max 950px: */
@media screen and (max-width: 950px) {
  .recipes__video {
    width: 500px;
    height: 300px;
    margin: 0px;
    border-radius: 20px;
  }
}
/* Rule for screens max 800px: */
@media screen and (max-width: 800px) {
  .recipes__ingredients-list {
    list-style: none;
  }

  .recipes__video {
    width: 270px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .header {
    flex-direction: column;
  }
  .introduction__subtitle {
    font-weight: normal;
  }

  .introduction__text {
    margin: 0;
  }

  .header__link {
    margin: 0 0;
  }
  .header__title {
    padding: 0;
  }

  .recipes__recipe {
    text-align: center;
  }
}
